@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    box-sizing: border-box;
    background-attachment: fixed;
    overflow-x: hidden;
}

header {
    position: relative;
    text-align: center;
}

header h1 {
    font-size: 40px;
    margin-top: 90px;
    font-family: "Luxurious Roman", serif;
}

.gradient {
    background-image: linear-gradient(to bottom, #FFD7D7, #C98895);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header h2 {
    margin-top: 20px;
    color: #F2C3C2;
    font-family: "Great Vibes";
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

nav a{
    color: #D0637C;
    font-family: "Poppins", sans-serif;
}

input {
    font-size: 16px;
    width: 80%;
    max-width: 400px;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding-left: 20px;
    outline: none;
    margin-bottom: 20px;
}

button {
    font-size: 14px;
    font-weight: 600;
    width: 100px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: #C98895;
    color: black;
}

button:hover{
    color: #D0637C;
    background-color: transparent;
    border: 2px solid #D0637C;
    transition: ease-in-out .5s;
}

.casa-principal {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.mascara {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: absolute;
    top: 0;
    z-index: -1;
}

.frase {
    color: white;
    font-size: 14px;
    margin: 20px;
    text-align: center;
    font-family: "Luxurious Roman", serif;
}

span{
    color: #D0637C;
}

.casas {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.casas img {
    width: 100%;
    max-width: 300px;
    transition: width 0.3s ease;
}

.casas img:hover {
    width: 350px;
}

.casa-final {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.16);
    padding: 20px;
    margin-top: 40px;
}

aside {
    color: black;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 20px 0;
}

footer {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    background-color: #D0637C;
    width: 100%;
    padding: 15px;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 800px){
    .casa-final{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    header h2 {
        font-size: 28px;
    }

    header h1 {
        font-size: 32px;
    }

    nav a {
        font-size: 18px;
        margin-left: 20px;
    }

    .casas img {
        width: 100%;
        max-width: 200px;
    }

    .frase h2 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    header h2 {
        font-size: 22px;
    }

    header h1 {
        font-size: 24px;
    }

    input {
        width: 90%;
    }

    .casas {
        flex-direction: column;
        align-items: center;
    }

    .casas img {
        max-width: 150px;
    }
}
